<div class="title">
<h1>Ask some question no one cares about, but maybe your coach will!</h1>
</div>
<div class="form">
<form action="/answer" data-turbo="false">
  <input class="text-input" type="text" name="user_input">
  <input class=btn-submit type="submit" value="ASK!">
</form>
</div>
